// h1
.title {
  margin-bottom: 30px;
  margin-top: 0px;
  color: $white-color-text;
  font-weight: 900;
  font-size: 44px;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  line-height: 1.36;
}
