body {
  margin: 0px;
  background-color: $white-color-text;
  color: #757575;
  font-family: $font-family;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: $font-weight-regular;
}
