// стилизация чек бокса
.chek-input {
  appearance: none;
}

.box-agree {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}
.lable-checbox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.714;
  margin-bottom: 30px;
}
.icon-check {
  margin-right: 8.38px;
  border-radius: 2px;
  fill: var(--white-color-text);
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-origin: border-box;
  transition: background-color var(--transition-duration) var(--timing-function),
    border var(--transition-duration) var(--timing-function);
}
.chek-input:focus + .icon-check,
.chek-input:hover + .icon-check {
  border-color: var(--accent);
}

.chek-input:checked + .icon-check {
  background-color: var(--accent);
}

.link-chek {
  color: var(--accent);
}
