// общая секция
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
// секция чем мы занимаемся в портфолио
.section-work {
  padding: 0px 0px 94px 0px;
}

// секция наша команда
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
// секция герой
.section-hero {
  margin: auto;
  padding: 200px 0px;
  max-width: var(--max-width-site);
  background-color: var(--secondary-background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img-ouer-team.jpg);
}
