// стилизация секции чем мы занимаемся
.what-we-do {
  position: relative;
}

.label {
  display: flex;
  margin: 0px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  height: 70px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: var(--background-opacity);
  color: var(--white-color-text);
}

.list .pictures {
  margin: 0px 0px 188px 0px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.list .img + .img {
  margin-left: 30px;
}
