:root {
  --main-colors-text: #757575;
  --secondary-text-color: #212121;
  --third-text-color: (255, 255, 255, 0.6);
  --white-color-text: #ffffff;
  --accent: #2196f3;
  --main-background-color: #e5e5e5;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --icon-social-color: #afb1b8;
  --background-opacity: rgba(48, 49, 59, 0.8);
  --border-radius: 4px;
  --transition-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
